<!doctype html>
{% from 'bootstrap4/form.html' import render_form %}

   <h3>Vigenere Solver</h3>


<title>Vigenere Hack Webserver</title>
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

<body>
    <p> Enter your cipher text</p>

    {{ render_form(form) }}
    {% if trigramsDictionary %}
        
    <table id="data" class="table table-striped">
        <thead>
          <tr>
            <th>Trigrama</th>
            <th>Frequência</th>

            <th>Espaçamento </th>
            {% for i in range(19) %}
            <th>{{i + 2}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for trigram in trigramsDictionary %}
            <tr>
            <td>{{ trigram.name }}</td>
            <td>{{ trigram.frequency }}</td>
            <td>{{ trigram.spacing }}</td>

 
                {% for i in range(18) %}
                <td>
                    {{ checkMultiple(trigram.spacing, i+2) }}
                     <!-- {{i+ 2}} -->
                </td>
                {% endfor %}

            </tr>
          {% endfor %}
        </tbody>
      </table>
      
            

    {% endif %}
    
</body>